	footer{
    position: absolute;
    top: -1;
    left: 0;
    right: 0;
	}
	.footer{
		height:80px;
		background-color: black;
		padding:0px;
		margin:0px;
		color:white;
		padding-top: 20px;
		text-align: center;
		font-size:27px;
	}