<app-img></app-img>




<h2 style="text-align: center;"><span style="color: red">---</span>About<span style="color: blue">---</span></h2>
<div class="des" class="text">
	<p>HMSWedge is an easy to use web-based, mobile friendly application which connects main hospitals with their satellite clinics. It covers the end-end workflow ending with billing for in-patient or out-patient. Focuses on digitizing the entire EMR including in-patient charts, lab results and pharmacy. Insurance and integrated invoices are supported. Dashboard & extensive EMR based searches are provided.</p>
	<br>
	<img src="assets/img/pre.png">
	<br>
	<br>
</div>