
<h2 style="text-align: center;"><span style="color: red">---</span>Contact Us<span style="color:blue">---</span></h2>
<div id="container">
<label for="name">
	Name
</label>
<input [(ngModel)] = "name" type="text" name="name">
<label for="number">
	Mobile 
</label>
<input [(ngModel)] = "mobile" type="text" name="number">
<label for="Email">
	Email
</label>
<input [(ngModel)] = "Email" type="text" name="Email">
<label for="message">
	Message
</label>
<textarea [(ngModel)] = "message" name=message></textarea>
<button (click)="work()">sumbit</button>

</div>
