	.container{
		max-width: 100%;
		border:2px;
		height: 300px;
		width: 30%;
		font-size: 30px;


		margin-bottom: 100px;
}
	.container input{
		width: 60%;
	}
	.container button{
		width: 40%;
		
		margin-top:20px;

	}

		#nav{
		font-size: 25px;
		font-weight: 800;
		margin-top: 40px;
	}
	#nav span{
		padding-left: 100px;

	}
	#target {
		font-size: 20px;
	}