<style>

</style>



<div *ngIf="form" class="container">
	<h2 align="center"><span style="color:red">---</span>login<span style="color:blue">---</span></h2>

	  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input [(ngModel)] ='username'  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input [(ngModel)] ='password' type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button  (click)="auth()" type="submit" class="btn btn-primary">Submit</button>



</div>


<div *ngIf="login"id=dashboard>
	<h2 align="center"><span style="color:red">---</span>dashboard<span style="color:blue">---</span></h2>
	<div id=nav align="center">
	<span (click) = "message()">Message</span><span>Add Products</span><span>Add Admin</span>
	</div>

</div>


<div *ngIf = "tar" id=target align="center">
	<h2 align="center"><span style="color:red">---</span>message<span style="color:blue">---</span></h2>

	<div *ngFor="let i of display">
	<label for="name">name: </label>
	<span name=name>{{i.name}}</span><br>
	<label for="mobile">mobile: </label>
	<span name="mobile">{{i.mobile}}</span><br>
	<label for="message">message: </label>	
	<span name=message>{{i.message}}</span><br>
	<br>
	</div>
</div>